#transactionInfoPage {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#transactionSidebar {
    width: 320px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #eaeef1;
    margin-top: 160px;
    box-shadow: 2px 0 4px 0 #bbb;
    overflow: scroll;
    z-index: 2;
}

#navigationControlsContainer {
    height: 24px;
    width: 100%;
    /* background-color: black; */
}

#navigationControls {
    margin: 27px 21px 0px 21px;
    height: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#transactionsHoldingsContainer {
    margin-top: 37px;
}

#transactionsListHeaderContainer {
    margin: 37px 28px 23px 28px;
}

#transactionsListHeaderTitle {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #000;
    margin: 0;
    padding: 0;
}

#transactionsListHeaderBody {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #959595;
    margin: 0;
    padding: 0;
}

.summaryButton {
    transition-duration: .1s;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    min-width: 88px;
    height: 24px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
}

.summaryButton:hover {
    transition-duration: .1s;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
    transform: translate(0,-2px);
}

.summaryButton:active {
    opacity: 0.6;
    transition-duration: .1s;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
}

.summaryButtonLink {
    width: 100%;
    height: 100%;
    text-decoration: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.summaryButton p {
    font-family: Roboto;
    font-size: 12px;
    padding: 0 10px 0 0;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

#chartOverlay {
    /* TODO: find a way to do this within the FlexibleXYPlot instead of this z-index & absolute positioning hackery */

    /* TODO: find a way to make the buy / sell dots underneath this gradient interactable */
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff);
    position: absolute;
    left: 0;
    top: 0;
    height: 466px;
    width: 80px;
    margin-left: 320px;
    margin-top: 160px;
    z-index: 1;
}

/* this id is given to the wrapping div of the TradingPlotChart when it's generated */
#chart {
    background-color: #fff;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.16);
}

#chartAndTransactions {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-left: 320px;
    margin-top: 160px;
    width: 100%;
}

#transactionHistoryTableHeaderRow {
    height: 44px;
    background-color: rgba(114, 123, 133, 0.04);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.12);
    border: none;
}

#transactionHistoryTable {
    width: 100%;
    border-collapse: collapse;
    border: none;
}

#transactionHistoryTableFirstColumnHeader {
    width: 60%;
    border: none;
}

#transactionHistoryTableDateHeader {
    width: 20.5%;
    border: none;
    text-align: left;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    color: #9b9b9b;
}

#transactionHistoryTableSourceHeader {
    width: 20.5%;
    border: none;
    text-align: left;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    color: #9b9b9b;
}

tr {
    height: 56px;
    border: none;
}

tr:nth-child(even) {
    background-color: #f2f3f5;
}
