.holdingsListContainer {
    max-width: 960px;
    margin: 160px auto auto auto;
}

.holdingsListCardContainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    float: left;
}