@font-face {
  font-family: 'SFUIDisplay-Regular';
  src: local('SFUIDisplay-Regular'), url(./fonts/SF-UI-Display-Regular.otf) format('otf');
}

@font-face {
  font-family: 'SFUIDisplay-Bold';
  src: local('SFUIDisplay-Bold'), url(./fonts/SF-UI-Display-Bold.otf) format('otf');
}

@font-face {
  font-family: 'SFUIDisplay-Light';
  src: local('SFUIDisplay-Light'), url(./fonts/SF-UI-Display-Light.otf) format('otf');
}

.App {
  /* text-align: center; */
}