.chartTest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 200px 0 200px 0;

    background-color: white;
    /* border: 1px solid blue; */
}

.areaSeries {
    opacity: 0.1;
}